In [1]:
%load_ext lab_black
import pandas as pd

file = "Resources/purchase_data.csv"

df = pd.read_csv(file)

## Player Count

* Total Number of Player

In [2]:
# calulated the total number of unique players
df_unique_player = df.drop_duplicates("SN")

# created a new data frame with the total players
total_players = pd.DataFrame({"Total Players": [len(df_unique_player)]})

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Summary of Items Purchased

In [17]:
# calculated each aspect using different methods like unique, mean and sum
unique_item = len(df["Item ID"].unique())
avg_price = df["Price"].mean()
total_item = df["Item ID"].count()
total_rev = df["Price"].sum()

# create data frame with calculated data
purchase_analysis_total = pd.DataFrame(
    {
        "Number of Unique Items": [unique_item],
        "Average Price": [avg_price],
        "Number of Purchases": [total_item],
        "Total Revenue": [total_rev],
    }
)

purchase_analysis_total.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Genders

In [13]:
# count players by gender
total_gender = df_unique_player["Gender"].value_counts()

gender_counts = (total_gender[0], total_gender[1], total_gender[2])

# calculate gender percentages
percents = [
    (total_gender[0] / len(df_unique_player)) * 100,
    (total_gender[1] / len(df_unique_player)) * 100,
    (total_gender[2] / len(df_unique_player)) * 100,
]

# create data frame with calculated data
gender_demo = pd.DataFrame(
    {"Total Count": gender_counts, "Percentage of Players": percents}
)

# set gender index
gender_demo.index = ["Male", "Female", "Other/Non-Disclosed"]


gender_demo.round(2)

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

* Summary of Items Purchased by Gender

In [11]:
# group by gender
gender = df.groupby(["Gender"])

# use the groups to calculate the purchase count and averages
purchase_cnt = gender["SN"].count()
avg_gen_price = gender["Price"].mean()
price_sum = gender["Price"].sum()
avg_price_person = price_sum / total_gender

# create data frame with calculated data
purchase_analysis_gender = pd.DataFrame(
    {
        "Purchase Count": purchase_cnt,
        "Average Purchase Price": avg_gen_price,
        "Total Purchase Value": price_sum,
        "Avg Total Purchase per Person": avg_price_person,
    }
)

purchase_analysis_gender.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Count and Percentage of Players per Age Group

In [14]:
# establish bins for age
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Age Ranges"] = pd.cut(df_unique_player["Age"], bins=age_bins, labels=group_names)

age_demo_cnt = df["Age Ranges"].value_counts()

# calculate percent using the age count and the unique player count
age_demo_percent = (age_demo_cnt / len(df_unique_player)) * 100

# create data frame with calculation
age_demo = pd.DataFrame(
    {"Total Count": age_demo_cnt, "Percentage of Players": age_demo_percent}
)


age_demo.sort_index().round(2)

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Summary of Items Purchased by Age Group

In [24]:
# using the bins from the previous problem, calculated the purchase count,
# avg purchase price, total purchase count and avg total per person.
df["Age Ranges"] = pd.cut(df["Age"], bins=age_bins, labels=group_names)

purchase_cnt_age = df.groupby(["Age Ranges"])["Item ID"].count()
avg_price_age = df.groupby(["Age Ranges"])["Price"].mean()
total_price_age = df.groupby(["Age Ranges"])["Price"].sum()
avg_price_per_person = total_price_age / age_demo_cnt

# created data frame using the variables above
purchase_analysis_age = pd.DataFrame(
    {
        "Purchase Count": purchase_cnt_age,
        "Average Purchase Price": avg_price_age,
        "Total Purchase Value": total_price_age,
        "Avg Total Purchase per Person": avg_price_per_person,
    }
)

purchase_analysis_age.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Summary of Top Spending Users

In [25]:
# calculated the purchase count, average and total prices by grouping by "SN"
purchase_sum_sn = df.groupby(["SN"])["Item ID"].count()
purchase_avg_sn = df.groupby(["SN"])["Price"].mean()
purchase_total_sn = df.groupby(["SN"])["Price"].sum()

# created data frame with the variables above
top_spenders = pd.DataFrame(
    {
        "Purchase Count": purchase_sum_sn,
        "Average Purchase Price": purchase_avg_sn,
        "Total Purchase Value": purchase_total_sn,
    }
)

# sorted top spenders by total purchase value
top_spenders.sort_values(by="Total Purchase Value", ascending=False).head(5).round(2)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Summary of Most Popular Items

In [9]:
# calcutated item count, average and total value by grouping
# the "Item ID" and "Item Name"
item_purchase_cnt = df.groupby(["Item ID", "Item Name"])["Item Name"].count()
item_purchase_avg = df.groupby(["Item ID", "Item Name"])["Price"].mean()
item_purchase_sum = df.groupby(["Item ID", "Item Name"])["Price"].sum()

# created data frame with variables above
popular_items = pd.DataFrame(
    {
        "Purchase Count": item_purchase_cnt,
        "Item Price": item_purchase_avg,
        "Total Purchase Value": item_purchase_sum,
    }
)

# sorted popular items by purchase count
popular_items.sort_values(by="Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Summary of Most Profitable Items

In [10]:
# using the data frame from the problem above but sorting by
# "Total Purchase Value" instead to find the most profitable items

popular_items.sort_values(by="Total Purchase Value", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80