# Heroes Of Pymoli

In [1]:
%load_ext lab_black
import pandas as pd

file = "Resources/purchase_data.csv"

df = pd.read_csv(file)

## Player Count

* Total Number of Player

In [6]:
# calulated the total number of unique players

df_unique_player = df.drop_duplicates("SN")

# created a new data frame with the total players
total_player = pd.DataFrame({"Total Players": [len(df_unique_player)]})

total_player

   Total Players
0            576

## Purchasing Analysis (Total)

* Summary of Items Purchased

In [3]:
# calculated each aspect using different methods like unique, mean and sum
unique_item = len(df["Item ID"].unique())
avg_price = df["Price"].mean()
total_item = df["Item ID"].count()
total_value = df["Price"].sum()

# created a data frame for the new table
total_purchase = pd.DataFrame(
    {
        "Number of Unique Items": [unique_item],
        "Average Price": [avg_price],
        "Number of Purchases": [total_item],
        "Total Revenue": [total_value],
    }
)

total_purchase = total_purchase.round(2)

total_purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Genders

In [34]:
total_gender = df_unique_player["Gender"].value_counts()

total_gender

gender_counts = (total_gender[0], total_gender[1], total_gender[2])
percents = [
    (total_gender[0] / len(df_unique_player)) * 100,
    (total_gender[1] / len(df_unique_player)) * 100,
    (total_gender[2] / len(df_unique_player)) * 100,
]


gender_dem = pd.DataFrame(
    {"Total Count": gender_counts, "Percentage of Players": percents}
)

gender_dem.index = ["Male", "Female", "Other/Non-Disclosed"]

gender_dem.round(2)

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91